# ~/.config/helix/languages.toml

#C, C++
[[language]]
name = "c"
language-servers = [ "clangd" ]

[[language]]
name = "cpp"
language-servers = [ "clangd" ]

[language-server.clangd]
command = "clangd"

#PYTHON
[[language]]
name = "python"
auto-format = true
language-servers = ["pylsp"]

[language-server.pylsp]
command = "pylsp"
args = []

[language-server.pylsp.config.pylsp.plugins]
# Plugins opcionais:
jedi_completion = { enabled = true }
jedi_hover = { enabled = true }
jedi_references = { enabled = true }
jedi_signature_help = { enabled = true }
jedi_symbols = { enabled = true }
mccabe = { enabled = true }
pycodestyle = { enabled = true, ignore = ["E501"], maxLineLength = 88 }
pydocstyle = { enabled = false }
pyflakes = { enabled = true }
yapf = { enabled = false }


#LUA
[language-server.lua-language-server]
command = "/usr/bin/lua-language-server"

[[language]]
name = "lua"
language-servers = ["lua-language-server"]

#RUST
[[language]]
name = "rust"
roots = ["Cargo.toml"]
file-types = ["rs"]
auto-format = true
language-servers = ["rust-analyzer"]

[language-server.rust-analyzer]
command = "rust-analyzer"

[language-server.rust-analyzer.config]
checkOnSave = { command = "check" }
cargo = { features = ["all"] }
diagnostics = { enable = true }


#JAVASCRIPT
[[language]]
name = "typescript"
roots = ["deno.json", "deno.jsonc", "package.json"]
file-types = ["ts", "tsx"]
auto-format = true
language-servers = ["deno-lsp"]

[[language]]
name = "javascript"
roots = ["deno.json", "deno.jsonc", "package.json"]
file-types = ["js", "jsx", "mjs"]
auto-format = true
language-servers = ["deno-lsp", "typescript"]

[language-server.deno-lsp]
command = "deno"
args = ["lsp"]
config.deno.enable = true

[language-server.typescript]
command = "typescript-language-server"
args = ["--stdio"]


